<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
                <a class="count-info" href uib-dropdown-toggle>
                    Subscriptions
                </a>
                <ul uib-dropdown-menu class="animated fadeInRight m-t-xs" ng-controller="subscriptionCtrl">
                    <li ng-repeat="subItem in subInfo.subscriptions">
                        <a ng-click="changeLanguage($index)">{{ subItem.name }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>