<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins" ng-controller="vmDataCtrl">
            <div class="ibox-title">
                <h5>Virual Machines</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9" ng-controller="vmLocDistDrawerCtrl">
                        <div class="sk-spinner sk-spinner-wave" ng-show="loadingChart">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" ng-show="!loadingChart" dataset="flotPieData" options="flotPieOptions"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <ul class="stat-list">
                            <li ng-controller="vmTotalAmountCtrl">
                                <div class="no-margins sk-spinner sk-spinner-wave" ng-show="loadingAmount">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                                <h2 class="no-margins" ng-show="!loadingAmount">{{ totalAmount }}</h2>
                                <small>Total Amount</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>East US</h5>
            </div>
            <div class="ibox-content">
                <h4>Usage Info about East US Data Center</h4>
                <div>
                    <span>Availability Sets:</span>
                    <div class="stat-percent">0 / 2000</div>
                    <div class="progress progress-mini">
                        <div style="width: 0%;" class="progress-bar"></div>
                    </div>
                </div>
                <div>
                    <span>Total Regional Cores: 48 / 100</span>
                    <div class="stat-percent">48%</div>
                    <div class="progress progress-mini">
                        <div style="width: 48%;" class="progress-bar"></div>
                    </div>
                </div>
                <div>
                    <span>Virtual Machines: 33 / 10000</span>
                    <div class="stat-percent">3%</div>
                    <div class="progress progress-mini">
                        <div style="width: 3%;" class="progress-bar"></div>
                    </div>
                </div>
                <div>
                    <span>Virtual Machine Scale Sets: 0 / 200</span>
                    <div class="stat-percent">0%</div>
                    <div class="progress progress-mini">
                        <div style="width: 0%;" class="progress-bar"></div>
                    </div>
                </div>
                <div>
                    <span>Standard D Family Cores: 28 / 100</span>
                    <div class="stat-percent">28%</div>
                    <div class="progress progress-mini">
                        <div style="width: 28%;" class="progress-bar"></div>
                    </div>
                </div>
                <div>
                    <span>Standard DSv2 Family Cores: 1 / 100</span>
                    <div class="stat-percent">1%</div>
                    <div class="progress progress-mini">
                        <div style="width: 1%;" class="progress-bar"></div>
                    </div>
                </div>
                <div>
                    <span>Standard A0-A7 Family Cores: 19 / 100</span>
                    <div class="stat-percent">19%</div>
                    <div class="progress progress-mini">
                        <div style="width: 19%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">ACTIVE</div>
                        12
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">INACTIVE</div>
                        21
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">TOTAL</div>
                        33
                    </div>
                </div>
                <div class="m-t text-righ">
                    <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>IT-04 - Marketing Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a5.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker.
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">32%</div>
                    <div class="progress progress-mini">
                        <div style="width: 32%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        24
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        3th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $190,325 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>IT-07 - Finance Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">73%</div>
                    <div class="progress progress-mini">
                        <div style="width: 73%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        11
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        6th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $560,105 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">
                <h5>IT-02 - Developers Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">61%</div>
                    <div class="progress progress-mini">
                        <div style="width: 61%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        43
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        1th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $705,913 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <span class="label label-warning pull-right">DEADLINE</span>
                <h5>IT-05 - Administration Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a6.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin.
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">14%</div>
                    <div class="progress progress-mini">
                        <div style="width: 14%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        8
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        7th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $40,200 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>IT-08 - Lorem ipsum Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their. ometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">25%</div>
                    <div class="progress progress-mini">
                        <div style="width: 25%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        25
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        4th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $140,105 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title">

                <h5>IT-02 - Graphic Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a3.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    Very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">82%</div>
                    <div class="progress progress-mini">
                        <div style="width: 82%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        68
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        2th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $701,400 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>IT-06 - Standard  Team</h5>
            </div>
            <div class="ibox-content">
                <div class="team-members">
                    <a href="#"><img alt="member" class="img-circle" src="img/a1.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a2.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a4.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a7.jpg"></a>
                    <a href="#"><img alt="member" class="img-circle" src="img/a8.jpg"></a>
                </div>
                <h4>Info about Design Team</h4>
                <p>
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
                <div>
                    <span>Status of current project:</span>
                    <div class="stat-percent">26%</div>
                    <div class="progress progress-mini">
                        <div style="width: 26%;" class="progress-bar"></div>
                    </div>
                </div>
                <div class="row  m-t-sm">
                    <div class="col-sm-4">
                        <div class="font-bold">PROJECTS</div>
                        16
                    </div>
                    <div class="col-sm-4">
                        <div class="font-bold">RANKING</div>
                        8th
                    </div>
                    <div class="col-sm-4 text-right">
                        <div class="font-bold">BUDGET</div>
                        $160,100 <i class="fa fa-level-up text-navy"></i>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

