<div class="wrapper wrapper-content" ng-controller="dashboardOverviewCtrl">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Resource Groups</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="flot-chart" ng-controller="dashboardFlotTwo as chart">
                            <div class="sk-spinner sk-spinner-wave" ng-show="true">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                            <div flot class="flot-chart-content" dataset="chart.flotData" options="chart.flotOptions" ng-show="true"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <ul class="stat-list">
                            <li>
                                <div class="no-margins sk-spinner sk-spinner-wave" ng-show="true">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                                <h2 class="no-margins" ng-controller="dashboardOverviewTotalResourceGroupsCtrl" ng-show="true">{{ totalResourceGroups }}</h2>
                                <small>Total resource groups</small>
                            </li>
                            <li>
                                <div class="no-margins sk-spinner sk-spinner-wave">
                                    <div class="sk-rect1"></div>
                                    <div class="sk-rect2"></div>
                                    <div class="sk-rect3"></div>
                                    <div class="sk-rect4"></div>
                                    <div class="sk-rect5"></div>
                                </div>
                                <h2 class="no-margins" ng-show="false">4,422</h2>
                                <small>Total virtual machines</small>
                            </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>